:root {
  --mainAccent: linear-gradient(to top right, #ffc593, #bc7198, #5a77ff);
  --pureBlack: #000000;
  --lightGrey: #dfdfdf;
  --pureWhite: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  min-height: 100vh;

  font-size: 1.8rem;

  position: relative;
}

/****** Buttons  *******/
.buttonOne {
  padding: 1.2rem 2.4rem;
  border: none;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;

  background: var(--pureBlack);
  color: var(--pureWhite);

  cursor: pointer;
}

.buttonOne:hover {
  background: var(--lightGrey);
  color: var(--pureBlack);
}

/* button 2 */
.buttonTwo {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  border: none;
  background: transparent;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;

  cursor: pointer;
}

.buttonTwo:hover span {
  text-decoration: underline;
}

/* button 3 */
.buttonThree {
  padding: 1.2rem 2.4rem;
  border: none;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;

  background: var(--pureWhite);
  color: var(--pureBlack);

  cursor: pointer;
}

.buttonThree:hover {
  background: var(--lightGrey);
  color: var(--pureBlack);
}

/* button 4 */
.buttonFour {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  border: none;
  background: transparent;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;

  color: #fff;
  cursor: pointer;
}

.buttonFour:hover span {
  text-decoration: underline;
}

/********** HOME  ***********/
/********** HOME  ***********/
/********** HOME  ***********/
/********** HOME  ***********/
/********** HOME  ***********/

/****** Mobile HOME  ********/
/****** Mobile HOME  ********/
/****** Mobile HOME  ********/
.mobileHeader {
  height: 7.2rem;
  padding: 2.8rem 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: orange;
  z-index: 300;
}

.menuIcon {
  cursor: pointer;
}

.closeIcon {
  display: none;

  cursor: pointer;
}

.tabletHeaderMiddle {
  display: none;
}

.tabletHeaderRight {
  display: none;
}

/******  Mobile POP UP ********/
.mobileTop {
  position: relative;
}

.mobilePopUpBg {
  display: none;
  margin-top: 7.2rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.mobilePopUpMenu {
  display: none;
  z-index: 200;

  position: fixed;
  top: 7.2rem;
  left: 0;
  right: 0;

  padding: 3.2rem;
  background: var(--pureWhite);

  text-align: center;
}

.mobilePopUpMenu a {
  margin-bottom: 2rem;
  display: block;

  text-decoration: none;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2.5px;

  color: var(--pureBlack);
}

.mobilePopUpMenu .grayLine {
  margin-bottom: 2rem;

  height: 0.1rem;
  width: 100%;

  background: var(--lightGrey);
}

.mobilePopUpMenu button {
  width: 100%;
}

/****** create and share SECTION  *****/

.createAndShareContainer {
  margin-top: 7.2rem;
}

.createAndShareImg {
  background: url(./assets/home/mobile/create-and-share.jpg);
  background-size: cover;
  height: 29.4rem;
}

.homeTopTextBox {
  padding: 7.2rem 2.4rem 7.2rem 3.3rem;
  text-align: left;
}

.homeTopTextBox h1 {
  margin-bottom: 1.6rem;

  font-weight: 700;
  font-size: 3.2rem;
  line-height: 40px;
  letter-spacing: 3.33px;

  text-transform: uppercase;
}

.homeTopTextBox p {
  margin-bottom: 2.3rem;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  letter-spacing: 0px;
}

.blackBgWhiteText {
  background: var(--pureBlack);
  color: var(--pureWhite);

  position: relative;
}

.mobileHeroLine {
  position: absolute;

  top: 0;
  left: 3.3rem;
  width: 12.8rem;
  height: 0.6rem;
  background: var(--mainAccent);
}

.whiteBgBlackText {
  background: var(--pureWhite);
  color: var(--pureBlack);
}

.beautifulStoriesImg {
  background: url(./assets/home/mobile/beautiful-stories.jpg);
  background-size: cover;
  height: 27.1rem;
}

.designedForImg {
  background: url(./assets/home/mobile/designed-for-everyone.jpg);
  background-size: cover;
  height: 27.1rem;
}

/*********** Card Section  ***********/
/*********** Card Section  ***********/
/*********** Card Section  ***********/
.cardSection {
}

.cardBox {
  position: relative;

  height: 37.5rem;
  width: 100%;

  cursor: pointer;
}

.card {
  position: relative;

  padding: 23.6rem 3.2rem 4rem;

  color: var(--pureWhite);

  transition: all 0.5s linear;
}

.borderBottomLinearGradient {
  visibility: hidden;

  position: absolute;

  width: 100%;
  height: 6px;
  background: var(--mainAccent);

  transition: all 0.5s linear;
}

.cardBox:hover .card {
  transform: translateY(-2.4rem);
}

.cardBox:hover .borderBottomLinearGradient {
  visibility: visible;
  transform: translateY(-2.4rem);
}

.card h1 {
  margin-bottom: 0.4rem;

  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0px;
}

.card p {
  margin-bottom: 1.6rem;

  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0px;
}

.thinLine {
  margin-bottom: 2rem;

  width: 100%;
  height: 0.1rem;
  background-color: var(--lightGrey);
}

.cardFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardFlex span {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;

  text-transform: uppercase;
}

.theMountains {
  background: url(./assets/stories/mobile/mountains.jpg) no-repeat;
  background-size: cover;
  height: 37.5rem;
}

.sunsetCity {
  background: url(./assets/stories/mobile/cityscapes.jpg) no-repeat;
  background-size: cover;
  height: 37.5rem;
}

.daysVoyage {
  background: url(./assets/stories/mobile/18-days-voyage.jpg) no-repeat;
  background-size: cover;
  height: 37.5rem;
}

.architecturals {
  background: url(./assets/stories/mobile/architecturals.jpg) no-repeat;
  background-size: cover;
  height: 37.5rem;
}

/******** BOTTOM Section  ********/
.homeBottomSection {
  padding: 8rem 3.2rem;
}

.homeBottomSectionItem {
  margin-bottom: 5.6rem;

  text-align: center;
}

.homeBottomSectionItem img {
  margin-bottom: 4.8rem;
}

.homeBottomSectionItem h1 {
  margin-bottom: 1.6rem;

  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0px;
}

.homeBottomSectionItem p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  letter-spacing: 0px;
}

/******** FOOTER  *********/
/******** FOOTER  *********/
/******** FOOTER  *********/
footer {
  padding: 5.6rem 3.2rem;
  text-align: center;

  background-color: var(--pureBlack);
}

footer img {
  margin-bottom: 3.2rem;
}
.socials {
  margin-bottom: 4.9rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;

  color: var(--pureWhite);
}

.socials i {
  cursor: pointer;
}

.facebook:hover {
  color: #6173e4;
}
.youtube:hover {
  color: #f24a59;
}
.twitter:hover {
  color: #4dcac7;
}

.pinterest:hover {
  color: #ea8460;
}

.instagram:hover {
  color: #b171a2;
}

.footerNav {
  margin-bottom: 11.9rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.9rem;
}

.footerNav a {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;

  text-decoration: none;
  color: var(--pureWhite);
}

.footerNav a:hover {
  opacity: 30%;
}

footer button {
  margin: 0 auto;
  margin-bottom: 3.4rem;

  display: block;
}

footer p {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0px;

  color: var(--lightGrey);
}

/********** HOME TABLET   ***********/
/********** HOME TABLET   ***********/
/********** HOME TABLET   ***********/

@media (min-width: 45rem) {
  .mobileHeader {
    height: 7.2rem;
    padding: 2.8rem 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: orange;
    z-index: 300;
  }

  .mobileOpenClose {
    display: none;
  }

  .tabletHeaderMiddle {
    display: block;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.7rem;
  }

  .tabletHeaderMiddle a {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--pureBlack);
  }

  .tabletHeaderMiddle a:hover {
    opacity: 30%;
  }

  .tabletHeaderRight {
    display: block;
  }

  /****** create and share SECTION  *****/

  .createAndShareContainer {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .createAndShareImg {
    background: url(./assets/home/tablet/create-and-share.jpg);
    background-size: cover;
    height: unset;

    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .homeTopTextBoxLeft {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .homeTopTextBoxRight {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .homeTopTextBox {
    padding: 17.3rem 5.4rem;
  }

  .homeTopTextBox h1 {
    margin-bottom: 2.1rem;

    font-size: 4rem;
    line-height: 48px;
    letter-spacing: 4.17px;
  }

  .homeTopTextBox p {
    margin-bottom: 4.8rem;
  }

  .blackBgWhiteText {
    background: var(--pureBlack);
    color: var(--pureWhite);

    position: relative;
  }

  .mobileHeroLine {
    position: absolute;

    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 0.6rem;
    height: 30.4rem;
    background: var(--mainAccent);
  }

  .whiteBgBlackText {
    background: var(--pureWhite);
    color: var(--pureBlack);
  }

  .beautifulStoriesContainer {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .beautifulStoriesImg {
    background: url(./assets/home/tablet/beautiful-stories.jpg);
    background-size: cover;
    height: unset;

    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .designedForContainer {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .designedForImg {
    background: url(./assets/home/tablet/designed-for-everyone.jpg);
    background-size: cover;
    height: unset;

    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  /*********** Card Section  ***********/
  /*********** Card Section  ***********/
  /*********** Card Section  ***********/
  .cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardBox {
    height: 50rem;
  }

  .card {
    padding: 36.1rem 4.3rem 4rem;
  }

  .theMountains {
    background: url(./assets/stories/desktop/mountains.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
  }

  .sunsetCity {
    background: url(./assets/stories/desktop/cityscapes.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
  }

  .daysVoyage {
    background: url(./assets/stories/desktop/18-days-voyage.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
  }

  .architecturals {
    background: url(./assets/stories/desktop/architecturals.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
  }

  /******** BOTTOM Section  ********/
  .homeBottomSection {
    padding: 12rem 15.6rem;
  }

  .homeBottomSectionItem {
    margin-bottom: 8rem;
  }

  .homeBottomSectionItem img {
    margin-bottom: 6.6rem;
  }

  /******** FOOTER  *********/
  /******** FOOTER  *********/
  /******** FOOTER  *********/
  footer {
    padding: 6.4rem 4rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footerLeft {
    height: 12.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footerRight {
    height: 12.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  footer img {
    margin-bottom: unset;
  }
  .socials {
    margin-bottom: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;

    color: var(--pureWhite);
  }

  .socials i {
    cursor: pointer;
  }

  .facebook:hover {
    color: #6173e4;
  }
  .youtube:hover {
    color: #f24a59;
  }
  .twitter:hover {
    color: #4dcac7;
  }

  .pinterest:hover {
    color: #ea8460;
  }

  .instagram:hover {
    color: #b171a2;
  }

  .footerNav {
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;
  }

  .footerNav a {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;

    text-decoration: none;
    color: var(--pureWhite);
  }

  .footerNav a:hover {
    opacity: 30%;
  }

  footer button {
    margin: unset;

    display: block;
  }

  footer p {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0px;

    color: var(--lightGrey);
  }
}

/********** HOME DESKTOP   ***********/
/********** HOME DESKTOP   ***********/
/********** HOME DESKTOP   ***********/

@media (min-width: 95rem) {
  /****** create and share SECTION  *****/

  .createAndShareContainer {
    grid-template-columns: 40% 60%;
  }

  .createAndShareImg {
    background: url(./assets/home/desktop/create-and-share.jpg);
    background-size: cover;
    height: unset;

    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .homeTopTextBoxLeft {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .homeTopTextBoxRight {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .homeTopTextBox {
    padding: 17.3rem 11.2rem;
  }

  .beautifulStoriesContainer {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .beautifulStoriesImg {
    background: url(./assets/home/desktop/beautiful-stories.jpg);
    background-size: cover;
    height: unset;

    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .designedForContainer {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .designedForImg {
    background: url(./assets/home/desktop/designed-for-everyone.jpg);
    background-size: cover;
    height: unset;

    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  /*********** Card Section  ***********/
  /*********** Card Section  ***********/
  /*********** Card Section  ***********/
  .cardSection {
    grid-template-columns: repeat(4, 1fr);
  }

  /******** BOTTOM Section  ********/
  .homeBottomSection {
    padding: 12rem 16.5rem;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 3rem;
  }

  .homeBottomSectionItem {
    margin-bottom: unset;
  }

  .homeBottomSectionItem img {
    margin-bottom: 5.5rem;
  }

  /******** FOOTER  *********/
  footer {
    padding: 6.4rem 16.5rem;
  }
}

/* Next Page */
